# Pandas Tutorial: Data Analysis and Manipulation with Python

Pandas (Python Data Analysis Library) is a powerful, open-source data analysis and manipulation library built on top of NumPy. It provides:
- High-performance data structures (DataFrame and Series)
- Data cleaning and preparation tools
- Data input/output capabilities (CSV, Excel, JSON, SQL, etc.)
- Data aggregation and transformation functions
- Time series functionality

## Environment Setup

First, let's check our Python version and ensure Pandas is properly installed.

In [ ]:
!python --version

### Install Required Packages

If Pandas is not installed, run the following command:

In [ ]:
!pip install pandas numpy matplotlib

## 1. Importing Pandas and Essential Libraries

The standard convention is to import Pandas with the alias `pd`:

In [ ]:
# Import essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Check versions
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

print("Libraries imported successfully!")

## 2. Pandas Data Structures

Pandas has two main data structures:
- **Series**: 1-dimensional labeled array (like a column)
- **DataFrame**: 2-dimensional labeled data structure (like a table)

In [ ]:
# Creating Series
print("=== PANDAS SERIES ===")
series_from_list = pd.Series([1, 2, 3, 4, 5])
print("Series from list:")
print(series_from_list)
print(f"Type: {type(series_from_list)}")
print(f"Shape: {series_from_list.shape}")
print(f"Size: {series_from_list.size}")

# Series with custom index
series_with_index = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print("\nSeries with custom index:")
print(series_with_index)

# Series from dictionary
series_from_dict = pd.Series({'apple': 5, 'banana': 3, 'orange': 8})
print("\nSeries from dictionary:")
print(series_from_dict)

In [ ]:
# Creating DataFrames
print("=== PANDAS DATAFRAME ===")

# DataFrame from dictionary
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Tokyo', 'Paris'],
    'Salary': [50000, 60000, 70000, 55000]
}

df = pd.DataFrame(data_dict)
print("DataFrame from dictionary:")
print(df)
print(f"\nType: {type(df)}")
print(f"Shape: {df.shape}")
print(f"Size: {df.size}")
print(f"Columns: {list(df.columns)}")
print(f"Index: {list(df.index)}")

# DataFrame info
print("\nDataFrame info:")
print(df.info())

## 3. Data Selection and Indexing

Pandas provides several ways to select and access data:

In [ ]:
# Column selection
print("=== COLUMN SELECTION ===")
print("Single column (Name):")
print(df['Name'])
print(f"Type: {type(df['Name'])}")

print("\nMultiple columns:")
print(df[['Name', 'Age']])

# Row selection using .loc and .iloc
print("\n=== ROW SELECTION ===")
print("First row using .iloc:")
print(df.iloc[0])

print("\nFirst two rows using .iloc:")
print(df.iloc[0:2])

print("\nRows using .loc (label-based):")
print(df.loc[0:1])

# Boolean indexing
print("\n=== BOOLEAN INDEXING ===")
print("People older than 30:")
print(df[df['Age'] > 30])

print("\nPeople from specific cities:")
print(df[df['City'].isin(['London', 'Tokyo'])])

# Combined conditions
print("\nPeople older than 25 AND from New York or Paris:")
print(df[(df['Age'] > 25) & (df['City'].isin(['New York', 'Paris']))])

## 4. Data Manipulation and Operations

In [ ]:
# Adding new columns
print("=== ADDING COLUMNS ===")
df_copy = df.copy()

# Add calculated column
df_copy['Salary_K'] = df_copy['Salary'] / 1000
print("Added Salary in thousands:")
print(df_copy)

# Add conditional column
df_copy['Age_Group'] = df_copy['Age'].apply(lambda x: 'Young' if x < 30 else 'Adult')
print("\nAdded Age Group:")
print(df_copy)

# Modifying existing columns
print("\n=== MODIFYING COLUMNS ===")
df_copy['Name'] = df_copy['Name'].str.upper()
print("Names in uppercase:")
print(df_copy['Name'])

# Dropping columns
print("\n=== DROPPING COLUMNS ===")
df_dropped = df_copy.drop(['Age_Group'], axis=1)
print("After dropping Age_Group column:")
print(df_dropped.columns.tolist())

# Sorting
print("\n=== SORTING ===")
print("Sorted by Age:")
print(df.sort_values('Age'))

print("\nSorted by multiple columns:")
print(df.sort_values(['Age', 'Salary'], ascending=[True, False]))

## 5. Data Aggregation and Grouping

In [ ]:
# Create larger dataset for grouping examples
np.random.seed(42)
large_data = {
    'Department': np.random.choice(['IT', 'HR', 'Finance', 'Marketing'], 100),
    'Salary': np.random.randint(40000, 100000, 100),
    'Age': np.random.randint(22, 60, 100),
    'Experience': np.random.randint(0, 20, 100)
}

df_large = pd.DataFrame(large_data)
print("Large dataset sample:")
print(df_large.head())

print(f"\nDataset shape: {df_large.shape}")

# Basic aggregations
print("\n=== BASIC AGGREGATIONS ===")
print(f"Mean salary: ${df_large['Salary'].mean():.2f}")
print(f"Median salary: ${df_large['Salary'].median():.2f}")
print(f"Standard deviation: ${df_large['Salary'].std():.2f}")
print(f"Min salary: ${df_large['Salary'].min()}")
print(f"Max salary: ${df_large['Salary'].max()}")

# Describe method
print("\n=== STATISTICAL SUMMARY ===")
print(df_large.describe())

In [ ]:
# GroupBy operations
print("=== GROUPBY OPERATIONS ===")

# Group by department
dept_groups = df_large.groupby('Department')

print("Average salary by department:")
print(dept_groups['Salary'].mean().sort_values(ascending=False))

print("\nMultiple aggregations by department:")
dept_agg = dept_groups.agg({
    'Salary': ['mean', 'min', 'max', 'count'],
    'Age': ['mean', 'min', 'max'],
    'Experience': ['mean', 'min', 'max']
})
print(dept_agg)

# Value counts
print("\n=== VALUE COUNTS ===")
print("Department distribution:")
print(df_large['Department'].value_counts())

# Cross-tabulation
print("\n=== CROSS-TABULATION ===")
# Create age groups for cross-tab
df_large['Age_Group'] = pd.cut(df_large['Age'], bins=[20, 30, 40, 50, 60], labels=['20-30', '30-40', '40-50', '50-60'])
crosstab = pd.crosstab(df_large['Department'], df_large['Age_Group'])
print("Department vs Age Group cross-tabulation:")
print(crosstab)

## 6. Data Cleaning and Handling Missing Values

In [ ]:
# Create dataset with missing values
messy_data = {
    'Name': ['Alice', 'Bob', None, 'Diana', 'Eve'],
    'Age': [25, None, 35, 28, 31],
    'Salary': [50000, 60000, None, 55000, None],
    'City': ['New York', 'London', 'Tokyo', None, 'Berlin']
}

df_messy = pd.DataFrame(messy_data)
print("Dataset with missing values:")
print(df_messy)

# Check for missing values
print("\n=== MISSING VALUES ANALYSIS ===")
print("Missing values count:")
print(df_messy.isnull().sum())

print("\nMissing values percentage:")
print((df_messy.isnull().sum() / len(df_messy)) * 100)

print("\nRows with any missing values:")
print(df_messy[df_messy.isnull().any(axis=1)])

# Handling missing values
print("\n=== HANDLING MISSING VALUES ===")

# Drop rows with any missing values
print("After dropping rows with any missing values:")
print(df_messy.dropna())

# Drop rows with all missing values
print("\nAfter dropping rows with all missing values:")
print(df_messy.dropna(how='all'))

# Fill missing values
print("\nFill missing values with defaults:")
df_filled = df_messy.fillna({
    'Name': 'Unknown',
    'Age': df_messy['Age'].mean(),
    'Salary': df_messy['Salary'].median(),
    'City': 'Unknown'
})
print(df_filled)

## 7. Data Input/Output Operations

In [ ]:
# Save DataFrame to various formats
print("=== SAVING DATA ===")

# Save to CSV
df.to_csv('sample_data.csv', index=False)
print("Data saved to CSV file")

# Save to JSON
df.to_json('sample_data.json', orient='records', indent=2)
print("Data saved to JSON file")

# Save to Excel (requires openpyxl or xlsxwriter)
try:
    df.to_excel('sample_data.xlsx', index=False)
    print("Data saved to Excel file")
except ImportError:
    print("Excel export requires openpyxl: pip install openpyxl")

# Reading data back
print("\n=== READING DATA ===")

# Read from CSV
df_from_csv = pd.read_csv('sample_data.csv')
print("Data read from CSV:")
print(df_from_csv)

# Read from JSON
df_from_json = pd.read_json('sample_data.json')
print("\nData read from JSON:")
print(df_from_json)

# Creating sample data from various sources
print("\n=== CREATING DATA FROM DIFFERENT SOURCES ===")

# From lists of lists
data_lists = [
    ['Product A', 100, 25.99],
    ['Product B', 50, 15.50],
    ['Product C', 75, 32.00]
]

df_products = pd.DataFrame(data_lists, columns=['Product', 'Quantity', 'Price'])
print("DataFrame from lists:")
print(df_products)

## 8. Data Merging and Joining

In [ ]:
# Create sample DataFrames for merging
employees = pd.DataFrame({
    'emp_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'department': ['IT', 'HR', 'IT', 'Finance']
})

salaries = pd.DataFrame({
    'emp_id': [1, 2, 3, 5],
    'salary': [50000, 45000, 60000, 55000],
    'bonus': [5000, 3000, 8000, 4000]
})

print("Employees DataFrame:")
print(employees)
print("\nSalaries DataFrame:")
print(salaries)

# Different types of joins
print("\n=== MERGE OPERATIONS ===")

# Inner join (default)
inner_join = pd.merge(employees, salaries, on='emp_id', how='inner')
print("Inner join (only matching records):")
print(inner_join)

# Left join
left_join = pd.merge(employees, salaries, on='emp_id', how='left')
print("\nLeft join (all employees):")
print(left_join)

# Right join
right_join = pd.merge(employees, salaries, on='emp_id', how='right')
print("\nRight join (all salary records):")
print(right_join)

# Outer join
outer_join = pd.merge(employees, salaries, on='emp_id', how='outer')
print("\nOuter join (all records):")
print(outer_join)

# Concatenation
print("\n=== CONCATENATION ===")
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

print("Vertical concatenation:")
print(pd.concat([df1, df2], axis=0, ignore_index=True))

print("\nHorizontal concatenation:")
print(pd.concat([df1, df2], axis=1))

## 9. Time Series Data

Pandas has excellent support for working with dates and time series data:

In [ ]:
# Working with dates and times
print("=== DATE AND TIME OPERATIONS ===")

# Create date range
dates = pd.date_range('2024-01-01', periods=10, freq='D')
print("Date range:")
print(dates)

# Create time series data
np.random.seed(42)
ts_data = pd.DataFrame({
    'date': dates,
    'sales': np.random.randint(100, 1000, 10),
    'temperature': np.random.normal(20, 5, 10)
})

print("\nTime series data:")
print(ts_data)

# Set date as index
ts_data.set_index('date', inplace=True)
print("\nWith date as index:")
print(ts_data.head())

# Date-based operations
print("\n=== DATE-BASED OPERATIONS ===")
print("Data for a specific date:")
print(ts_data.loc['2024-01-05'])

print("\nData for a date range:")
print(ts_data.loc['2024-01-03':'2024-01-07'])

# Resampling (aggregating by time periods)
print("\n=== RESAMPLING ===")
# Create more data for resampling example
extended_dates = pd.date_range('2024-01-01', periods=100, freq='D')
extended_data = pd.DataFrame({
    'date': extended_dates,
    'value': np.random.randint(50, 200, 100)
})
extended_data.set_index('date', inplace=True)

print("Weekly average:")
print(extended_data.resample('W').mean().head())

print("\nMonthly sum:")
print(extended_data.resample('M').sum())

# Extract date components
extended_data['year'] = extended_data.index.year
extended_data['month'] = extended_data.index.month
extended_data['day_of_week'] = extended_data.index.dayofweek

print("\nData with extracted date components:")
print(extended_data.head())

## 10. Practical Example: Sales Data Analysis

Let's apply pandas to a real-world scenario - analyzing sales data for a retail store.

In [ ]:
# Generate comprehensive sales dataset
np.random.seed(42)

# Create date range for 1 year
dates = pd.date_range('2024-01-01', '2024-12-31', freq='D')
n_days = len(dates)

# Product categories and names
categories = ['Electronics', 'Clothing', 'Books', 'Home', 'Sports']
products = {
    'Electronics': ['Laptop', 'Phone', 'Tablet', 'Camera'],
    'Clothing': ['Shirt', 'Pants', 'Dress', 'Shoes'],
    'Books': ['Fiction', 'Non-Fiction', 'Textbook', 'Comic'],
    'Home': ['Furniture', 'Kitchen', 'Decor', 'Garden'],
    'Sports': ['Equipment', 'Apparel', 'Shoes', 'Accessories']
}

# Generate sales data
sales_data = []
for date in dates:
    # Generate 5-15 transactions per day
    n_transactions = np.random.randint(5, 16)
    
    for _ in range(n_transactions):
        category = np.random.choice(categories)
        product = np.random.choice(products[category])
        quantity = np.random.randint(1, 6)
        base_price = np.random.uniform(10, 500)
        
        # Add seasonal variation
        month = date.month
        if month in [11, 12]:  # Holiday season
            base_price *= 1.2
        elif month in [6, 7, 8]:  # Summer
            if category == 'Sports':
                base_price *= 1.15
        
        sales_data.append({
            'date': date,
            'category': category,
            'product': product,
            'quantity': quantity,
            'unit_price': round(base_price, 2),
            'total_amount': round(base_price * quantity, 2)
        })

sales_df = pd.DataFrame(sales_data)
print("=== SALES DATA ANALYSIS ===")
print(f"Total records: {len(sales_df)}")
print(f"Date range: {sales_df['date'].min()} to {sales_df['date'].max()}")
print("\nSample data:")
print(sales_df.head(10))

In [ ]:
# Comprehensive sales analysis
print("=== BUSINESS INSIGHTS ===")

# Overall performance
total_revenue = sales_df['total_amount'].sum()
total_transactions = len(sales_df)
avg_transaction_value = sales_df['total_amount'].mean()

print(f"Total Revenue: ${total_revenue:,.2f}")
print(f"Total Transactions: {total_transactions:,}")
print(f"Average Transaction Value: ${avg_transaction_value:.2f}")

# Category performance
print("\n=== CATEGORY ANALYSIS ===")
category_performance = sales_df.groupby('category').agg({
    'total_amount': ['sum', 'count', 'mean'],
    'quantity': 'sum'
}).round(2)

category_performance.columns = ['Revenue', 'Transactions', 'Avg_Value', 'Units_Sold']
category_performance = category_performance.sort_values('Revenue', ascending=False)
print(category_performance)

# Monthly trends
print("\n=== MONTHLY TRENDS ===")
sales_df['month'] = sales_df['date'].dt.month
sales_df['month_name'] = sales_df['date'].dt.month_name()

monthly_sales = sales_df.groupby(['month', 'month_name'])['total_amount'].sum().reset_index()
monthly_sales = monthly_sales.sort_values('month')
print("Monthly Revenue:")
for _, row in monthly_sales.iterrows():
    print(f"{row['month_name']}: ${row['total_amount']:,.2f}")

# Top products
print("\n=== TOP PRODUCTS ===")
product_performance = sales_df.groupby(['category', 'product']).agg({
    'total_amount': 'sum',
    'quantity': 'sum'
}).sort_values('total_amount', ascending=False)

print("Top 10 products by revenue:")
print(product_performance.head(10))

# Day of week analysis
print("\n=== DAY OF WEEK ANALYSIS ===")
sales_df['day_of_week'] = sales_df['date'].dt.day_name()
daily_pattern = sales_df.groupby('day_of_week')['total_amount'].agg(['sum', 'count', 'mean']).round(2)
daily_pattern.columns = ['Total_Revenue', 'Transactions', 'Avg_Value']

# Reorder by actual day order
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
daily_pattern = daily_pattern.reindex(day_order)
print(daily_pattern)

## 11. Advanced Pandas Techniques

In [ ]:
# Pivot tables and reshaping
print("=== PIVOT TABLES ===")

# Create pivot table
pivot_table = sales_df.pivot_table(
    values='total_amount',
    index='category',
    columns='month_name',
    aggfunc='sum',
    fill_value=0
).round(2)

print("Revenue by Category and Month:")
print(pivot_table)

# Melt (unpivot) operation
print("\n=== MELTING DATA ===")
sample_wide = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Math': [90, 85],
    'Science': [88, 92],
    'English': [95, 89]
})

print("Wide format:")
print(sample_wide)

melted = pd.melt(sample_wide, id_vars=['Name'], var_name='Subject', value_name='Score')
print("\nMelted (long) format:")
print(melted)

# Apply and lambda functions
print("\n=== APPLY FUNCTIONS ===")
sample_df = pd.DataFrame({
    'name': ['alice smith', 'bob jones', 'charlie brown'],
    'age': [25, 30, 35],
    'salary': [50000, 60000, 70000]
})

# Apply lambda to single column
sample_df['name_title'] = sample_df['name'].apply(lambda x: x.title())
print("Applied title case to names:")
print(sample_df)

# Apply function to multiple columns
def categorize_age(age):
    if age < 30:
        return 'Young'
    elif age < 40:
        return 'Middle'
    else:
        return 'Senior'

sample_df['age_category'] = sample_df['age'].apply(categorize_age)
print("\nAge categorization:")
print(sample_df)

# String operations
print("\n=== STRING OPERATIONS ===")
text_data = pd.Series(['Hello World', 'pandas is great', 'Data Analysis', 'Python Programming'])

print("Original text:")
print(text_data)

print("\nString operations:")
print("Uppercase:", text_data.str.upper())
print("Length:", text_data.str.len())
print("Contains 'Data':", text_data.str.contains('Data'))
print("Split on space:", text_data.str.split(' '))

## Summary

This notebook covered the essential concepts of Pandas:

1. **Data Structures**: Series and DataFrame creation and properties
2. **Data Selection**: Various methods to access and filter data
3. **Data Manipulation**: Adding, modifying, and transforming data
4. **Aggregation and Grouping**: Statistical analysis and groupby operations
5. **Data Cleaning**: Handling missing values and data quality issues
6. **Input/Output**: Reading from and writing to various file formats
7. **Merging and Joining**: Combining multiple datasets
8. **Time Series**: Working with dates and time-based data
9. **Practical Applications**: Real-world sales data analysis
10. **Advanced Techniques**: Pivot tables, apply functions, and string operations

### Key Pandas Advantages:
- **Intuitive Data Structures**: DataFrame and Series for structured data
- **Powerful Data Manipulation**: Rich set of functions for data transformation
- **Excellent I/O Capabilities**: Support for multiple file formats
- **Built-in Data Analysis**: Statistical functions and aggregations
- **Time Series Support**: Comprehensive date/time functionality

### Next Steps:
- Explore data visualization with matplotlib and seaborn
- Learn advanced statistical analysis with scipy
- Study machine learning with scikit-learn
- Practice with real datasets from various domains

### Resources:
- [Pandas Documentation](https://pandas.pydata.org/docs/)
- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/)
- [10 Minutes to Pandas](https://pandas.pydata.org/docs/user_guide/10min.html)
- [Pandas Cookbook](https://pandas.pydata.org/docs/user_guide/cookbook.html)